.list__header {
  width: 100%;
  text-align: center;
  padding: 100px 0 50px;

  h3 {
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--font-nanum);
    color: var(--white);
    margin-bottom: 30px;
  }

  p {
    font-size: 0.8rem;
    font-family: var(--font-nanum);
    color: var(--gray);
  }
}

.list__inner {
  >ul{
    column-count: 3;
    column-gap: 20px;
    @media(max-width: 999px) {
      column-count: 2;
    }
    @media(max-width: 599px) {
      column-count: 1;
    }
    >li{
      break-inside: avoid-column;
      min-width: 100px;
      padding: 20px;
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 30px;
      margin-bottom: 20px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.01);
      }
      >h3 {
        font-size: 1rem;
        font-weight: 700;
        font-family: var(--font-nanum);
        color: var(--white);
      }
      >p {
        font-size: 0.8rem;
        font-family: var(--font-nanum);
        color: var(--gray);
      }
      .list__top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        @media(max-width: 299px) {
          align-items: flex-start;
          flex-direction: column;
        }
        .left {
          display: flex;
          .profill {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            overflow: hidden;
            > img {
              object-fit: contain;
            }
          }
          .profill__info {
            > h3 {
              font-size: 1rem;
              font-family: var(--font-nanum);
              font-weight: 700;
              color: var(--white);
            }
            > span {
              font-size: 0.8rem;
              font-family: var(--font-nanum);
              color: var(--gray);
            }
          }
        }
        .right {
          opacity: 0.5; // 투명도
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          > div {
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;
              path {
                fill: var(--gray);
              }
            }
            > p {
              font-size: 0.8rem;
              color: var(--gray);
              margin: 0;
            }
          }
          .date {
            .icon {
              path {
                stroke: var(--gray);
                fill: transparent;
              }
            }
          }
          @media(max-width: 299px) {
            flex-direction: row;
            margin-top: 5px;
            >div {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}