#footer {
  width: 100%;
  height: 100px;
  background-color: var(--black);
  .footer__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .f_nav {
      > ul {
        display: flex;
        > li {
          margin: 0 10px;
          font-size: 0.8rem;
          font-family: var(--font-nanum);
          font-weight: 700;
          color: var(--gray);
          &:first-child {
            margin-left: 0;
          }
          >a {
            &:hover {
              text-decoration: underline;
              text-underline-position: under;
            }
          }
        }
      }
    }
    .f_logo {
      > a {
        font-size: 1rem;
        font-family: var(--font-nanum);
        font-weight: 700;
        color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        > span {
          color: var(--gray);
        }
      }
    }
    .f_copyright {
      font-size: 0.8rem;
      font-family: var(--font-nanum);
      color: var(--gray);
    }
  }

  @media (max-width: 499px) {
    .footer__inner {
      flex-direction: column;
      justify-content: center;
      .f_logo {
        display: flex;
        align-items: center;
        margin: 10px 0;
        a {
          position: relative;
        }
      }
    }
  }
}
