#header {
    width: 100%;
    height: 100px;
    background-color: var(--black);
    .header__inner {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            >a {
                font-size: 2rem;
                font-family: var(--font-nanum);
                font-weight: 700;
                text-align: center;
                color: var(--white);
                position: relative;
                &::before {
                    position: absolute;
                    top: 50%;
                    right: -90px;
                    transform: translate(-50%, -50%);
                    content: '';
                    width: 1px;
                    height: 30px;
                    background-color: rgba(255,255,255,0.15);
                }
            >span {
                    color: var(--gray);
                }
            }
        }
    .nav {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            >ul {
                display: flex;
                >li {
                    padding: 0 10px;
                    >a {
                        font-size: 1rem;
                        font-family: var(--font-nanum);
                        color: var(--gray);
                        padding: 5px;
                        &.active {
                            font-weight: 900;
                            color: var(--white);
                        }
                    }
                }
            }
        }
    .header__btn {
            display: flex;
            .profill{
                position: relative;
                &::before {
                    position: absolute;
                    top: 50%;
                    right: -5px;
                    transform: translate(-50%, -50%);
                    content: '';
                    width: 1px;
                    height: 30px;
                    background-color: rgba(255,255,255,0.15);
                    cursor: default;
                }
               .img {
                width: 30px;
                height: 30px;
                background-color: var(--gray);
                border-radius: 50%;
                margin-right: 20px;
                overflow: hidden;
                >img {
                    object-fit: contain;
                }
               }
            }
        .join,
        .login {
                margin-left: 20px;
                font-size: 0.8rem;
                font-family: var(--font-nanum);
                font-weight: 900;
                line-height: 1.5;
                color: var(--black);
                text-transform: uppercase;
                padding: 5px 20px;
                background-color: var(--white);
                border-radius: 20px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    color: var(--white);
                    background-color: var(--blue);
                }
            }
        }
    }
}