body {
    background-color: var(--black);
}
#main {
    width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.line-2 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-3 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}